// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
    position: relative;
    font-family: "Roboto", sans-serif;
}

// Variables Colors
$orange: #F2905F;
$green: #009688;

.navbar {
    background-color: $orange;
    background-image: url(../../assets/img/bg-top.png);
    background-size: cover;
    height: 240px;
    .logo-top {
        width: 12%;
        margin-left: 2rem;        
        img {
            width: 100%;
        }
    }
    .total {
        width: 15%;
        position: relative;
        margin-right: 2rem;      
        .value {
            height: 3rem;
            background-color: #fff;
            border-radius: 30px;
            align-items: center;
            padding-left: 1.5rem;   
            box-shadow: 0px 2px 5px #3c3c3c;        
            p {
                margin: 0;
                text-transform: uppercase;
                color: $orange;
                font-size: 0.9rem;
                font-weight: 300;
            }
        }
        .cart {
            background-color: $green;
            width: 65px;
            height: 65px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: absolute;
            top: -8px;
            right: -25px;
            box-shadow: 0px 2px 5px #3c3c3c;
            img {
                width: 60%;                
            }
        }
    }
}