<div class="d-flex finalize-box">
  <div class="finalize-in">
    <div class="d-flex finalize-top">
      <div class="d-flex finalize-title">
        <h3>Fechar Pedido</h3>
        <h4>Total</h4>
        <h1>R$ 18,00</h1>
      </div>
      <div class="close-top">
        <a href="javascript:void(0);">
          <fa-icon [icon]="faTimesCircle"></fa-icon>
        </a>
      </div>
    </div>
    <div class="d-flex password-box">
      <form action="">
        <label for="confirmPassword">Digite sua senha!</label>
        <input type="password" class="form-control custom-input" id="confirmPassword">
      </form>
      <div class="d-flex keyboard">
        <div class="d-flex number">
          0
        </div>
        <div class="d-flex number">
          0
        </div>
        <div class="d-flex number">
          0
        </div>
        <div class="d-flex number">
          0
        </div>
        <div class="d-flex number">
          0
        </div>
        <div class="d-flex number">
          0
        </div>
        <div class="d-flex number">
          0
        </div>
        <div class="d-flex number">
          0
        </div>
        <div class="d-flex number">
          0
        </div>
        <div class="d-flex zero">
          0
        </div>
      </div>
    </div>
  </div>
</div>